﻿<html>

<head>
    <meta charset="UTF-8">
    <title>PainelKMV</title>
    <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/css/circle.css"></script>
    <link rel="stylesheet" href="/css/painel.css"></script>
    <script rel="stylesheet" src="js/painel.js"></script>


</head>

<body>
    <nav class="navbar navbar-inverse bg-primary ">
        <div class="container w-100">
            <a class="navbar-brand" href="">
                <img src="images/logo.png" alt="logo">
            </a>
            <div class="tot">
                <li class="green">Total: 0</li>
                <li class="red">Total: 0</li>
            </div>
            <span class="navbar-text"></span>
        </div>
    </nav>

    <div class='container'>
        <ul id="messages">
            <div class="clearfix">
            </div>
        </ul>
    </div>
</body>

</html>