li {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    position: relative;
}

.bold{
    font-weight: bold;
    color: #007bff!important;
}

.custom {
    font-size: 2.5em;
}

.c100.danger .bar,
.c100.danger .fill {
    border-color: #e42328!important;
}

.c100.red .bar,
.c100.red .fill {
    border-color: #fc5c65!important;
}

.c100.orangeT .bar,
.c100.orangeT .fill {
    border-color: #fd9644!important;
}

.c100.orange .bar,
.c100.orange .fill {
    border-color: #f7b731!important;
}

.c100.yellow .bar,
.c100.yellow .fill {
    border-color: #fed330;
}


.dados{
    padding-left:3em;
    height:2.5em;
}
.pv {
   /* line-height: 1.7em;/*2.3em*/
    position: relative;
}

.nome{
    font-size: 0.8em;
}

.c100 span {
    color: #2b2e3b;
    width: 2.5em;
    line-height: 2.4em;
    font-size: 0.4em;
}

body {
    font-family: Roboto,sans-serif;
    /* font-weight: 400; */
    /*font-size: 3vh*/
}

.container {
    max-width: 1800px;
}

ul {
    /* padding-left: 2em; */
}

/*VER AQ*/

ul li {
    /* padding-bottom: 4vh; */
}

.tot li {
    margin: 2vw;
    font-size: 2vw;
    display: inline-block
}

.navbar-text {
    font-size: 3vh;
}

li {
    list-style-type: none;
    /*font-size: 2.5vh;*/
}

li.green:before {
    background-image: url('../images/green.png');
}

li.red:before {
    background-image: url('../images/red.png');
}

li:before {
    content: " ";
    background-size: 100% 100%;

    width: 0.9em;
    height: 0.9em;
    margin-top: 0.35em;

    margin-left: -1.15em;

    position: absolute;
}

.navbar {
    border-bottom: 0.4vh solid #eca713;
}

#horaSinc {
    background-color: #2b2e3b;
}

.navbar-brand>img {
    margin: 2.5%;
    height: 5vh;
    width: auto;
}

.navbar {
    color: white;
    margin-bottom: 4vh;
    height: 10vh;
}

.hrs {
    background-color: #e84c3d;
}

.npv {
    background-color: #c1392d;
    width: 5em;
}

.btn {
    border: 0px;
    font-size: 0.55em;
    font-weight: 400;

    margin-bottom: 1.1em;
}

.btn-group {
    display: block;
}

.tot {
    float: right;
}

.button {
    font-size: 0.8em;
    /*padding: 5 15 5 15;*/
}

.button3 {
    margin-left: 2vw;
    background-color: #e54449;
    color: white;
    border: 3px solid #b50207;
    border-radius: 10px;
}

.c100 {
    -webkit-backface-visibility: hidden;
}